<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!


            {% endblock %}
        </title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        {% block stylesheets %}{#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <div style="color: white; font-weight: bold">
                        MyMovieDb
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('about') }}" class="nav-link">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('film') }}">
                                   Films
                                </a>
                            </li>
                            {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('watchList') }}">
                                   WatchList
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('seen') }}">
                                   Films vue
                                </a>
                            </li>
                            {% endif %}
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}">
                                        Logout
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">
                                        Se connecter
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
